doctype html
html
    head
        title #{repo} BranchName Report
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    
    body
        div.container
            h1 #{repo} Branch Report
            p Generated: #{runDate.format('MMMM Do, YYYY @ h:mm:ss a')}
    